<% @profiles.each do |profile| %>
  <div class="card" style="width: 80vw; height: 10vh; margin: 0;">
    <div class="card-body">
      <h5 class="card-title" style="margin: 0;"><%= profile.name %></h5>
      <p class="card-text" style="margin: 0;">Age: <%= profile.age %></p>
      <p class="card-text" style="margin: 0;">Location: <%= profile.location %></p>
    </div>
  </div>
<% end %>

