h1 {
    font-size: 24px;
}

.imageContainer {
    display: flex;
    flex-flow: column wrap;
  }

  .user-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  body {
    background-color: burlywood;
  }